<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.gdin.dzzwsyb.swzzbdbxt.web.dao.AnalysisMapper">
	<resultMap id="BaseResultMap"
		type="com.gdin.dzzwsyb.swzzbdbxt.web.model.Analysis">
		<result column="role_id" jdbcType="BIGINT" property="roleId" />
		<result column="type" jdbcType="INT" property="type" />
		<result column="onwork" jdbcType="INT" property="onwork" />
		<result column="overtime" jdbcType="INT" property="overtime" />
		<result column="partialDone" jdbcType="INT"
			property="partial_done" />
		<result column="done" jdbcType="INT" property="done" />
		<result column="stop" jdbcType="INT" property="stop" />
		<result column="year" jdbcType="INT" property="year" />
		<result column="month" jdbcType="INT" property="month" />
	</resultMap>
	<sql id="Base_Column_List">
		role_id, type, onwork, overtime, partical_done, done, stop, year, month
	</sql>
	<select id="AnalysisByRoleAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from analysis_all_role
	</select>
	<select id="AnalysisByRoleMain" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from analysis_all_role
		where type = 1
	</select>
	<select id="AnalysisByYear" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from analysis_all_year
		where year = #{year,jdbcType=INT}
		UNION
		select 0 as role_id, 0 as type, IFNULL(sum(onwork),0) as onwork,
		IFNULL(sum(overtime),0) as overtime, IFNULL(SUM(partial_done),0) as
		partial_done, IFNULL(SUM(done),0) as done, IFNULL(SUM(stop),0) as
		`stop`, #{year,jdbcType=INT} as `year`, 0 as `month` from
		analysis_all_year where year &lt; #{year,jdbcType=INT}
	</select>
	<select id="AnalysisRoleByYear" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from from analysis_year_role
		where year = #{year,jdbcType=INT}
	</select>
	<select id="AnalysisRoleByMonth"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from from analysis_year_role
		where year = #{year} and month = #{month}
	</select>
	<select id="AnalysisRoleByYearMain" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from from analysis_year_role
		where year = #{year,jdbcType=INT} and type = 1
	</select>
	<select id="AnalysisRoleByMonthMain"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from from analysis_year_role
		where year = #{year} and month = #{month} and type = 1
	</select>
	<select id="getYears"
		resultMap="java.lang.Integer">
		select distinct
		date_format(create_time, '%Y') AS YEAR
		from msg
	</select>
</mapper>